In [1]:
import pandas as pd
import pandas as pd
from collections import Counter

import plotly as py
import plotly.graph_objs as go

In [2]:
data=pd.read_excel('./KPL.xlsx')
pd.set_option('display.max_columns', None)
data=data.fillna(-1)  #填补空白数据

## 编码

### 队伍名编码成数字

In [3]:
#将队伍名转成数字
Teamall=set(list(data['teama'])+list(data['teamb']))
TeamDictF={}
TeamDictS={}
count=0
for i in Teamall:
    TeamDictF[i]=count
    TeamDictS[count]=i
    count+=1
TeamDictF

{'广州TTG': 0,
 'KS.YTG': 1,
 '南京Hero久竞': 2,
 '佛山GK': 3,
 'RW侠': 4,
 '西安WE': 5,
 '武汉eStarPro': 6,
 '重庆QGhappy': 7,
 '上海EDG.M': 8,
 'RNG.M': 9,
 '成都AG超玩会': 10,
 '杭州LGD大鹅': 11,
 'VG': 12,
 'DYG': 13,
 'WB.TS': 14,
 'TES': 15}

### 英雄编码成数字

In [4]:
Heroall=set()
for i in range(1,5):
    for j in ['a','b']:
        Heroall=set.union(Heroall, set(list(data['ban%s%s'%(j,i)])))
for i in range(1,6):
    for j in ['a','b']:
        Heroall=set.union(Heroall, set(list(data['hero%s%s'%(j,i)])))
HeroDictF={}
HeroDictS={}
count=0
for i in Heroall:
    HeroDictF[i]=count
    HeroDictS[count]=i
    count+=1

### 选手名编码成数字

In [5]:
Playerall=set()
for i in range(1,6):
    for j in ['a','b']:
        Playerall=set.union(Playerall, set(list(data['player%s%s'%(j,i)])))
PlayerDictF={}
PlayerDictS={}
count=0
for i in Playerall:
    PlayerDictF[i]=count
    PlayerDictS[count]=i
    count+=1

In [6]:
data_copy=data.copy()

## 数据处理

In [7]:
data['teama']=data['teama'].map(TeamDictF)
data['teamb']=data['teamb'].map(TeamDictF)
data['bana1']=data['bana1'].map(HeroDictF)
data['bana2']=data['bana2'].map(HeroDictF)
data['bana3']=data['bana3'].map(HeroDictF)
data['bana4']=data['bana4'].map(HeroDictF)
data['banb1']=data['banb1'].map(HeroDictF)
data['banb2']=data['banb2'].map(HeroDictF)
data['banb3']=data['banb3'].map(HeroDictF)
data['banb4']=data['banb4'].map(HeroDictF)
data['heroa1']=data['heroa1'].map(HeroDictF)
data['heroa2']=data['heroa2'].map(HeroDictF)
data['heroa3']=data['heroa3'].map(HeroDictF)
data['heroa4']=data['heroa4'].map(HeroDictF)
data['heroa5']=data['heroa5'].map(HeroDictF)
data['herob1']=data['herob1'].map(HeroDictF)
data['herob2']=data['herob2'].map(HeroDictF)
data['herob3']=data['herob3'].map(HeroDictF)
data['herob4']=data['herob4'].map(HeroDictF)
data['herob5']=data['herob5'].map(HeroDictF)
data['playera1']=data['playera1'].map(PlayerDictF)
data['playera2']=data['playera2'].map(PlayerDictF)
data['playera3']=data['playera3'].map(PlayerDictF)
data['playera4']=data['playera4'].map(PlayerDictF)
data['playera5']=data['playera5'].map(PlayerDictF)
data['playerb1']=data['playerb1'].map(PlayerDictF)
data['playerb2']=data['playerb2'].map(PlayerDictF)
data['playerb3']=data['playerb3'].map(PlayerDictF)
data['playerb4']=data['playerb4'].map(PlayerDictF)
data['playerb5']=data['playerb5'].map(PlayerDictF)

In [8]:
data

,match,teama,teamb,label,moneya,moneyb,killa,killb,towera,towerb,bana1,bana2,bana3,bana4,banb1,banb2,banb3,banb4,heroa1,heroa2,heroa3,heroa4,heroa5,herob1,herob2,herob3,herob4,herob5,kdaa1,kdaa2,kdaa3,kdaa4,kdaa5,kdab1,kdab2,kdab3,kdab4,kdab5,moneya1,moneya2,moneya3,moneya4,moneya5,moneyb1,moneyb2,moneyb3,moneyb4,moneyb5,playera1,playera2,playera3,playera4,playera5,playerb1,playerb2,playerb3,playerb4,playerb5
0,70155,2,0,0,54784,68382,1,10,3,7,15,41,24,22,73,11,3,83,23,55,79,93,77,21,50,65,31,8,1/3/0,0/1/0,0/1/0,0/1/1,0/4/1,3/1/5,4/0/5,0/0/4,2/0/7,1/0/5,12981,11152,13373,6802,10476,13060,18095,14316,14133,8778,69,89,8,74,94,91,87,101,85,22
1,70154,2,0,0,47180,59099,7,14,1,8,41,24,71,65,44,11,3,83,15,63,32,75,60,86,72,0,38,46,3/2/1,2/5/3,1/2/5,1/3/3,0/2/5,4/2/7,5/2/5,5/1/7,0/1/8,0/1/11,12940,8005,11585,6260,8390,14857,13725,11557,11034,7926,69,89,8,74,94,91,87,101,85,22
2,70153,2,0,0,50730,55031,10,12,2,5,15,41,65,87,93,86,3,23,40,4,10,2,38,5,49,57,77,83,0/4/2,6/3/1,2/3/5,1/1/4,1/1/4,1/4/8,2/1/2,8/1/1,1/2/6,0/2/11,9156,9402,13836,8445,9891,10046,13140,14260,10346,7239,69,89,8,74,94,91,87,101,85,22
3,70146,2,0,1,46391,41082,15,7,5,1,15,10,71,21,70,86,3,83,50,5,65,24,0,14,23,32,93,2,1/1/4,7/0/4,5/1/6,0/4/8,2/1/1,2/1/2,1/3/2,4/5/3,0/2/3,0/4/6,10909,9933,12096,5361,8092,8989,8566,9830,6683,7014,69,89,8,74,94,91,87,101,85,22
4,70145,2,0,1,65161,56662,11,7,8,2,83,15,71,5,50,74,23,24,72,87,62,22,41,63,82,3,70,75,6/2/3,4/3/2,1/1/7,0/0/11,0/1/5,2/4/1,0/2/3,1/2/2,3/1/0,1/2/3,15922,11812,15844,8832,12751,11291,12196,12529,12974,7672,69,89,8,74,94,91,87,101,85,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,71599,11,10,0,68987,73866,9,13,2,7,83,23,72,28,69,32,11,22,78,40,14,10,91,70,47,60,45,24,0/5/2,7/3/1,1/2/4,1/1/5,0/2/4,2/3/5,2/0/6,3/3/8,5/1/7,1/2/10,11512,16888,13568,17879,9140,15102,13661,13849,19690,11564,97,30,120,78,126,115,49,40,27,62
516,71598,11,10,1,56154,48311,16,6,8,1,70,24,79,65,78,0,22,83,73,23,5,51,8,77,44,11,19,46,0/1/8,6/1/3,5/1/7,5/0/5,0/3/9,1/4/3,1/3/5,1/3/5,3/4/3,0/2/5,9259,13420,12014,14209,7252,9549,8852,8706,13885,7319,97,30,120,78,126,14,115,49,27,62
517,71597,11,10,0,42309,48270,6,11,0,6,83,23,46,24,78,45,11,22,70,72,71,19,75,15,0,84,82,42,0/3/4,1/2/2,1/2/5,2/2/3,2/2/2,3/0/1,0/3/7,3/1/7,4/1/3,1/1/10,8930,10169,6290,11458,5462,12256,6952,11301,11192,6569,97,30,120,78,126,14,115,49,27,62
518,71596,11,10,0,33354,47373,2,16,0,8,24,70,21,71,22,91,23,83,41,49,20,3,66,50,93,63,67,2,0/5/1,1/2/1,0/2/0,1/5/1,0/2/1,2/0/3,1/0/8,3/0/6,8/2/6,2/0/10,5721,9353,5651,7998,4631,11298,7323,9399,12420,6933,97,30,120,78,126,14,115,49,27,62
519,71595,11,10,0,37381,42860,3,12,2,8,83,23,3,79,72,50,22,24,93,28,4,65,2,41,5,49,10,91,0/4/2,1/3/1,2/0/0,0/2/2,0/3/0,0/1/9,7/1/1,2/0/6,3/1/7,0/0/11,5834,9006,8807,8688,5046,6230,9700,9937,10706,6287,97,30,120,78,126,115,49,40,27,62

## 选手组合预测

In [21]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
numa=TeamDictF['DYG']
DYGa=data[(data['teama']==numa)&(data['label']==1)][['playera1','playera2','playera3','playera4','playera5']]
DYGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGb=data[(data['teamb']==numa)&(data['label']==0)][['playerb1','playerb2','playerb3','playerb4','playerb5']]
DYGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGwin=pd.concat([DYGa,DYGb])
DYGwin['label']=1
DYGa=data[(data['teama']==numa)&(data['label']==0)][['playera1','playera2','playera3','playera4','playera5']]
DYGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGb=data[(data['teamb']==numa)&(data['label']==1)][['playerb1','playerb2','playerb3','playerb4','playerb5']]
DYGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGfail=pd.concat([DYGa,DYGb])
DYGfail['label']=0
DYG=pd.concat([DYGwin,DYGfail])
y=DYG['label']
x=DYG.drop(['label'],axis=1)
UniqueDYG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = DecisionTreeClassifier() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueDYG)[:,1]
UniqueDYG['y_pre']=y_pre
UniqueDYG['1号位']=UniqueDYG['1号位'].map(PlayerDictS)
UniqueDYG['2号位']=UniqueDYG['2号位'].map(PlayerDictS)
UniqueDYG['3号位']=UniqueDYG['3号位'].map(PlayerDictS)
UniqueDYG['4号位']=UniqueDYG['4号位'].map(PlayerDictS)
UniqueDYG['5号位']=UniqueDYG['5号位'].map(PlayerDictS)
UniqueDYG['组合']=UniqueDYG['1号位']+'--'+UniqueDYG['2号位']+'--'+UniqueDYG['3号位']+'--'+UniqueDYG['4号位']+'--'+UniqueDYG['5号位']
UniqueDYG=UniqueDYG.sort_values(by='y_pre',ascending=False)
UniqueDYG=UniqueDYG.reset_index()
UniqueDYG=UniqueDYG.drop(['index'],axis=1)
UniqueDYG
# fig = go.Bar(x = UniqueDYG['组合'],y=UniqueDYG['y_pre'],text=UniqueDYG['y_pre'],textposition='outside')
# fig = go.Figure(data=fig)
# fig

  1号位   2号位 3号位 4号位 5号位    y_pre                    组合
0  清清    萧玦  易峥  小义  星宇 1.000000    清清--萧玦--易峥--小义--星宇
1  清清  Giao  萧玦  易峥  星宇 1.000000  清清--Giao--萧玦--易峥--星宇
2  清清  Giao  久诚  易峥  星宇 0.800000  清清--Giao--久诚--易峥--星宇
3  清清    萧玦  小义  易峥  星宇 0.790698    清清--萧玦--小义--易峥--星宇
4  清清    久诚  小义  易峥  星宇 0.600000    清清--久诚--小义--易峥--星宇
5  萧玦    小义  风停  易峥  澜澜 0.000000    萧玦--小义--风停--易峥--澜澜

In [22]:
#总决赛的队伍 DYG/AG超玩会
#我们看看AG超玩会的战绩
#六点六--笑影--汤汤--一诺--爱思 组合胜率最高
numb=TeamDictF['成都AG超玩会']
AGa=data[(data['teama']==numb)&(data['label']==1)][['playera1','playera2','playera3','playera4','playera5']]
AGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGb=data[(data['teamb']==numb)&(data['label']==0)][['playerb1','playerb2','playerb3','playerb4','playerb5']]
AGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGwin=pd.concat([AGa,AGb])
AGwin['label']=1
AGa=data[(data['teama']==numb)&(data['label']==0)][['playera1','playera2','playera3','playera4','playera5']]
AGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGb=data[(data['teamb']==numb)&(data['label']==1)][['playerb1','playerb2','playerb3','playerb4','playerb5']]
AGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGfail=pd.concat([AGa,AGb])
AGfail['label']=0
AG=pd.concat([AGwin,AGfail])
y=AG['label']
x=AG.drop(['label'],axis=1)
UniqueAG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = DecisionTreeClassifier() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueAG)[:,1]
UniqueAG['y_pre']=y_pre
UniqueAG['1号位']=UniqueAG['1号位'].map(PlayerDictS)
UniqueAG['2号位']=UniqueAG['2号位'].map(PlayerDictS)
UniqueAG['3号位']=UniqueAG['3号位'].map(PlayerDictS)
UniqueAG['4号位']=UniqueAG['4号位'].map(PlayerDictS)
UniqueAG['5号位']=UniqueAG['5号位'].map(PlayerDictS)
UniqueAG['组合']=UniqueAG['1号位']+'--'+UniqueAG['2号位']+'--'+UniqueAG['3号位']+'--'+UniqueAG['4号位']+'--'+UniqueAG['5号位']
UniqueAG=UniqueAG.sort_values(by='y_pre',ascending=False)
UniqueAG=UniqueAG.reset_index()
UniqueAG=UniqueAG.drop(['index'],axis=1)
UniqueAG
# fig = go.Bar(x = UniqueAG['组合'],y=UniqueAG['y_pre'],text=UniqueAG['y_pre'],textposition='outside')
# fig = go.Figure(data=fig)
# fig

   1号位  2号位 3号位 4号位 5号位    y_pre                    组合
0   啊泽   笑影  汤汤  一诺  爱思 0.818182    啊泽--笑影--汤汤--一诺--爱思
1   啊泽   笑影  汤汤  一诺  最初 0.800000    啊泽--笑影--汤汤--一诺--最初
2  六点六   笑影  汤汤  一诺  爱思 0.772727   六点六--笑影--汤汤--一诺--爱思
3   七年   啊泽  笑影  一诺  爱思 0.666667    七年--啊泽--笑影--一诺--爱思
4  六点六   七年  笑影  一诺  爱思 0.625000   六点六--七年--笑影--一诺--爱思
5   七年   啊泽  笑影  一诺  最初 0.600000    七年--啊泽--笑影--一诺--最初
6  六点六  麟羽轩  笑影  一诺  爱思 0.571429  六点六--麟羽轩--笑影--一诺--爱思
7  六点六  麟羽轩  笑影  一诺  最初 0.500000  六点六--麟羽轩--笑影--一诺--最初
8  六点六   啊泽  笑影  一诺  爱思 0.000000   六点六--啊泽--笑影--一诺--爱思

## ban位预测

In [25]:

DYGa=data[(data['teama']==numa)&(data['label']==1)][['bana1','bana2','bana3','bana4']]
DYGa.columns=['1','2','3','4'] 
DYGb=data[(data['teamb']==numa)&(data['label']==0)][['bana1','bana2','bana3','bana4']]
DYGb.columns=['1','2','3','4'] 
DYGwin=pd.concat([DYGa,DYGb])
DYGwin['label']=1
DYGa=data[(data['teama']==numa)&(data['label']==0)][['bana1','bana2','bana3','bana4']]
DYGa.columns=['1','2','3','4'] 
DYGb=data[(data['teamb']==numa)&(data['label']==1)][['bana1','bana2','bana3','bana4']]
DYGb.columns=['1','2','3','4'] 
DYGfail=pd.concat([DYGa,DYGb])
DYGfail['label']=0
DYG=pd.concat([DYGwin,DYGfail])
y=DYG['label']
x=DYG.drop(['label'],axis=1)
UniqueDYG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = MultinomialNB() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueDYG)[:,1]
UniqueDYG['y_pre']=y_pre
UniqueDYG['1']=UniqueDYG['1'].map(HeroDictS)
UniqueDYG['2']=UniqueDYG['2'].map(HeroDictS)
UniqueDYG['3']=UniqueDYG['3'].map(HeroDictS)
UniqueDYG['4']=UniqueDYG['4'].map(HeroDictS)
UniqueDYG=UniqueDYG.sort_values(by='y_pre',ascending=False)
UniqueDYG=UniqueDYG.reset_index()
UniqueDYG=UniqueDYG.drop(['index'],axis=1)
UniqueDYG

       1     2     3     4    y_pre
0   马可波罗    马超    张飞  太乙真人 1.000000
1     大乔    盾山    伽罗  不知火舞 1.000000
2     大乔   阿古朵    伽罗   孙尚香 1.000000
3   鲁班大师   猪八戒    西施    吕布 1.000000
4     盾山   公孙离  百里守约   鬼谷子 1.000000
..   ...   ...   ...   ...      ...
61  鲁班大师    大乔   姜子牙    西施 0.000114
62    盾山    马超  不知火舞    西施 0.000029
63  鲁班大师  马可波罗  不知火舞    西施 0.000007
64  鲁班大师   公孙离  太乙真人    张飞 0.000000
65  鲁班大师   猪八戒  不知火舞    露娜 0.000000

[66 rows x 5 columns]

In [27]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)
AGa=data[(data['teama']==numb)&(data['label']==1)][['bana1','bana2','bana3','bana4']]
AGa.columns=['1','2','3','4'] 
AGb=data[(data['teamb']==numb)&(data['label']==0)][['bana1','bana2','bana3','bana4']]
AGb.columns=['1','2','3','4'] 
AGwin=pd.concat([AGa,AGb])
AGwin['label']=1
AGa=data[(data['teama']==numb)&(data['label']==0)][['bana1','bana2','bana3','bana4']]
AGa.columns=['1','2','3','4'] 
AGb=data[(data['teamb']==numb)&(data['label']==1)][['bana1','bana2','bana3','bana4']]
AGb.columns=['1','2','3','4'] 
AGfail=pd.concat([AGa,AGb])
AGfail['label']=0
AG=pd.concat([AGwin,AGfail])
AGwin
y=AG['label']
x=AG.drop(['label'],axis=1)
UniqueAG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = MultinomialNB() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueAG)[:,1]
UniqueAG['y_pre']=y_pre
UniqueAG['1']=UniqueAG['1'].map(HeroDictS)
UniqueAG['2']=UniqueAG['2'].map(HeroDictS)
UniqueAG['3']=UniqueAG['3'].map(HeroDictS)
UniqueAG['4']=UniqueAG['4'].map(HeroDictS)
UniqueAG=UniqueAG.sort_values(by='y_pre',ascending=False)
UniqueAG=UniqueAG.reset_index()
UniqueAG=UniqueAG.drop(['index'],axis=1)
UniqueAG

       1     2     3     4    y_pre
0    猪八戒  鲁班大师     镜  娜可露露 1.000000
1     马超  鲁班大师     镜  娜可露露 1.000000
2   鲁班大师  马可波罗   姜子牙  不知火舞 1.000000
3    猪八戒  马可波罗    蒙犽   孙尚香 1.000000
4      镜  马可波罗  太乙真人    墨子 1.000000
..   ...   ...   ...   ...      ...
64     镜    大乔    张飞   蔡文姬 0.000096
65   孙尚香    马超   武则天    西施 0.000050
66    盾山   公孙离  娜可露露   橘右京 0.000027
67  鲁班大师   公孙离    关羽    芈月 0.000009
68  鲁班大师   公孙离    白起    刘邦 0.000001

[69 rows x 5 columns]

## 英雄胜率预测

In [28]:
DYGa=data[(data['teama']==numa)&(data['label']==1)][['heroa1','heroa2','heroa3','heroa4','heroa5']]
DYGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGb=data[(data['teamb']==numa)&(data['label']==0)][['herob1','herob2','herob3','herob4','herob5']]
DYGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGwin=pd.concat([DYGa,DYGb])
DYGwin['label']=1
DYGa=data[(data['teama']==numa)&(data['label']==0)][['heroa1','heroa2','heroa3','heroa4','heroa5']]
DYGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGb=data[(data['teamb']==numa)&(data['label']==1)][['herob1','herob2','herob3','herob4','herob5']]
DYGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
DYGfail=pd.concat([DYGa,DYGb])
DYGfail['label']=0
DYG=pd.concat([DYGwin,DYGfail])
DYGwin
y=DYG['label']
x=DYG.drop(['label'],axis=1)
UniqueDYG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = MultinomialNB() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueDYG)[:,1]
UniqueDYG['y_pre']=y_pre
UniqueDYG['1号位']=UniqueDYG['1号位'].map(HeroDictS)
UniqueDYG['2号位']=UniqueDYG['2号位'].map(HeroDictS)
UniqueDYG['3号位']=UniqueDYG['3号位'].map(HeroDictS)
UniqueDYG['4号位']=UniqueDYG['4号位'].map(HeroDictS)
UniqueDYG['5号位']=UniqueDYG['5号位'].map(HeroDictS)
UniqueDYG=UniqueDYG.sort_values(by='y_pre',ascending=False)
UniqueDYG=UniqueDYG.reset_index()
UniqueDYG=UniqueDYG.drop(['index'],axis=1)
UniqueDYG

    1号位   2号位   3号位   4号位   5号位    y_pre
0    廉颇    嬴政   孙尚香    盘古    盾山 1.000000
1   老夫子    蒙恬   沈梦溪   裴擒虎    大乔 1.000000
2    刘邦   阿古朵    嫦娥   孙尚香  太乙真人 1.000000
3    芈月   夏侯惇   孙尚香   阿古朵  太乙真人 0.999999
4    白起   姜子牙   孙尚香    盘古  太乙真人 0.999999
..  ...   ...   ...   ...   ...      ...
62   吕布   沈梦溪  娜可露露    蒙犽    张飞 0.000006
63   马超   姜子牙   橘右京   狄仁杰    张飞 0.000003
64   吕布   沈梦溪  娜可露露    蒙犽   蔡文姬 0.000001
65   吕布  不知火舞  娜可露露   公孙离   蔡文姬 0.000000
66   吕布    张良    露娜  马可波罗    张飞 0.000000

[67 rows x 6 columns]

In [30]:
AGa=data[(data['teama']==numb)&(data['label']==1)][['heroa1','heroa2','heroa3','heroa4','heroa5']]
AGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGb=data[(data['teamb']==numb)&(data['label']==0)][['herob1','herob2','herob3','herob4','herob5']]
AGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGwin=pd.concat([AGa,AGb])
AGwin['label']=1
AGa=data[(data['teama']==numb)&(data['label']==0)][['heroa1','heroa2','heroa3','heroa4','heroa5']]
AGa.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGb=data[(data['teamb']==numb)&(data['label']==1)][['herob1','herob2','herob3','herob4','herob5']]
AGb.columns=['1号位','2号位','3号位','4号位','5号位'] 
AGfail=pd.concat([AGa,AGb])
AGfail['label']=0
AG=pd.concat([AGwin,AGfail])
AGwin
y=AG['label']
x=AG.drop(['label'],axis=1)
UniqueAG=x.copy().drop_duplicates(subset=x.columns, keep='first')
mnb = MultinomialNB() 
mnb.fit(x,y)
y_pre=mnb.predict_proba(UniqueAG)[:,1]
UniqueAG['y_pre']=y_pre
UniqueAG['1号位']=UniqueAG['1号位'].map(HeroDictS)
UniqueAG['2号位']=UniqueAG['2号位'].map(HeroDictS)
UniqueAG['3号位']=UniqueAG['3号位'].map(HeroDictS)
UniqueAG['4号位']=UniqueAG['4号位'].map(HeroDictS)
UniqueAG['5号位']=UniqueAG['5号位'].map(HeroDictS)
UniqueAG=UniqueAG.sort_values(by='y_pre',ascending=False)
UniqueAG=UniqueAG.reset_index()
UniqueAG=UniqueAG.drop(['index'],axis=1)
UniqueAG

     1号位   2号位   3号位   4号位   5号位    y_pre
0     项羽    露娜    墨子   孙尚香  太乙真人 1.000000
1   娜可露露    廉颇  上官婉儿    伽罗  太乙真人 1.000000
2     吕布  上官婉儿    虞姬  娜可露露  东皇太一 1.000000
3    阿古朵    关羽    墨子   孙尚香  太乙真人 1.000000
4    阿古朵  干将莫邪  马可波罗    关羽  东皇太一 1.000000
..   ...   ...   ...   ...   ...      ...
63   猪八戒    张良     镜    后羿   蔡文姬 0.000035
64    吕布  不知火舞   公孙离  娜可露露    张飞 0.000003
65   猪八戒  不知火舞    黄忠   裴擒虎   蔡文姬 0.000002
66    廉颇    盘古   王昭君   李元芳  鲁班大师 0.000001
67    关羽   姜子牙   公孙离     镜    廉颇 0.000001

[68 rows x 6 columns]

## 决赛胜率预测

In [58]:
#bo7 
from scipy.special import comb
def pre(score):
    win=score
    fail=1-score
    score1=score**4
    score2=comb(4,1)*(win**3)*(fail)*win
    score3=comb(5,2)*(win**3)*(fail**2)*win
    score4=comb(6,3)*(win**3)*(fail**3)*win    
    return score1+score2+score3+score4
allteam=pd.read_excel('全部战队-20200917-20201216.xlsx')
DYGwin=allteam.iloc[0,2]
AGwin=allteam.iloc[1,2]
DYG=DYGwin/(DYGwin+AGwin)
AG=AGwin/(DYGwin+AGwin)
print('AG胜利概率为%s'%pre(AG))
print('DYG胜利概率为%s'%pre(DYG))

#连续赢4场
#赢4场 输1场
#赢4场 输2场
#赢4场 输3场

AG胜利概率为0.46268343014154045
DYG胜利概率为0.5373165698584595